/*!* ----------  primary layout ---------- *!*/

#wrapper {
		width: 950px;
		margin: 0 auto;
		}
a:link,
a:visited {
		color: #a2b52d;
		text-decoration: none;
		}

a:hover,
a:focus {
		border-bottom: 1px dotted #a2b52d;
		}